/* Rules for calculator button table. */
.calcTable
{
    position: relative;
    width: 98%;
    height: 81%;
}

/* Rules for action table. */
.actionTable
{
    position: relative;
    width: 97.5%;
    height: 10%;
    bottom: 0.4%;
}