.outer
{
    background-color: rgb(61, 61, 61);
    width: 23vw;
    height: 10vh;
    border-width: 1%;
    border-style: solid;
    border-color: transparent;
    text-align: right;
    line-height: 10vh;
    position: relative;
}
